<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cube0</key>
	<array>
		<string>Japan</string>
		<string>c000.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube1</key>
	<array>
		<string>ice</string>
		<string>c001.png</string>
		<string>common</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube2</key>
	<array>
		<string>Marz Software</string>
		<string>c002.png</string>
		<string>ultra-rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube3</key>
	<array>
		<string>Ghost</string>
		<string>c003.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube4</key>
	<array>
		<string>Mike</string>
		<string>c004.png</string>
		<string>common</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube5</key>
	<array>
		<string>Queen</string>
		<string>c005.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube6</key>
	<array>
		<string>Nuke</string>
		<string>c006.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube7</key>
	<array>
		<string>Frank</string>
		<string>c007.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube8</key>
	<array>
		<string>Pumpkin</string>
		<string>c008.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube9</key>
	<array>
		<string>Mask</string>
		<string>c009.png</string>
		<string>common</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube10</key>
	<array>
		<string>Vampire</string>
		<string>c010.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube11</key>
	<array>
		<string>Elf</string>
		<string>c011.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube12</key>
	<array>
		<string>Red</string>
		<string>c012.png</string>
		<string>common</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube13</key>
	<array>
		<string>Ghost</string>
		<string>c013.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube14</key>
	<array>
		<string>Apple</string>
		<string>c014.png</string>
		<string>ultra-rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube15</key>
	<array>
		<string>Die</string>
		<string>c015.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube16</key>
	<array>
		<string>setting</string>
		<string>c016.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube17</key>
	<array>
		<string>Spider</string>
		<string>c017.png</string>
		<string>ultra-rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube18</key>
	<array>
		<string>Spider2</string>
		<string>c018.png</string>
		<string>ultra-rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube19</key>
	<array>
		<string>USA</string>
		<string>c019.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube20</key>
	<array>
		<string>Brasil</string>
		<string>c020.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube21</key>
	<array>
		<string>Germany</string>
		<string>c021.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube22</key>
	<array>
		<string>Lego</string>
		<string>c022.png</string>
		<string>common</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube23</key>
	<array>
		<string>Pika-void</string>
		<string>c023.png</string>
		<string>ultra-rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube24</key>
	<array>
		<string>Brown</string>
		<string>c024.png</string>
		<string>uncommon</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube25</key>
	<array>
		<string>Bullet</string>
		<string>c025.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube26</key>
	<array>
		<string>Steve</string>
		<string>c026.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube27</key>
	<array>
		<string>Grass</string>
		<string>c027.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
	<key>cube28</key>
	<array>
		<string>Snoopy</string>
		<string>c028.png</string>
		<string>rare</string>
		<integer>30</integer>
		<integer>1</integer>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
	</array>
</dict>
</plist>
